---
layout: homepage
title: Covid19Greece Help
lang: gr
subtitle: Μοιραζόμαστε πληροφορίες για να μπορέσουμε να ανταποκριθούμε όλες και όλοι στις νέες συνθήκες που δημιούργησε η πανδημία του Covid19
---
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>

   <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"
   crossorigin=""/>

<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"
   crossorigin=""/>

 <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"
   crossorigin=""></script>

<script type="application/ld+json">
    [{
        "@context": "http://schema.org",
        "@type":"Project",
        "name": "Covid19Italia.help",
        "knowsAbout" : "covid19italia.help è un progetto no profit, organizzato e diretto interamente da volontari e volontarie. È nato per condividere informazioni utili e verificate sull’evento di Coronavirus diffusosi in Italia nel 2020.",
        "url": "https://www.covid19italia.help/",
        "image": "https://www.covid19italia.help/images/covid19italia-full.png",

        "description": "covid19italia.help è un progetto no profit, organizzato e diretto interamente da volontari e volontarie. È nato per condividere informazioni utili e verificate sull’evento di Coronavirus diffusosi in Italia nel 2020.",
        "ownershipFundingInfo"  : {
            "@type" : "AboutPage",
            "url" : ["https://www.covid19italia.help/about/"]
        },
        "sameAs": ["https://www.facebook.com/covid19italia.help", "https://github.com/emergenzeHack/covid19italia", "https://twitter.com/ItaliaCovid19", "https://www.instagram.com/covid19italia.help"]
    },
        {
            "@context": "http://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "item": {
                    "@id": "https://www.covid19italia.help/",
                    "name": "Home"
                }
            },{
                "@type": "ListItem",
                "position": 2,
                "item": {
                    "@id": "https://www.covid19italia.help/issues/",
                    "name": "Segnalazioni"
                }
            },{
                "@type": "ListItem",
                "position": 3,
                "item": {
                    "@id": "https://www.covid19italia.help/issues/regione/",
                    "name": "Segnalazioni per regione"
                }
            },{
                "@type": "ListItem",
                "position": 4,
                "item": {
                    "@id": "https://www.covid19italia.help/segnala/",
                    "name": "Segnala"
                }
            },{
                "@type": "ListItem",
                "position": 5,
                "item": {
                    "@id": "https://www.covid19italia.help/about/",
                    "name": "Chi siamo"
                }
            },{
                "@type": "ListItem",
                "position": 6,
                "item": {
                    "@id": "https://www.covid19italia.help/contribuisci/",
                    "name": "Contribuisci"
                }
            }]
        }]
</script>

<div class="row">
    <div class="col-12">
        <div class="homepage-categories mt-4">
            {% assign categories_without_map = site.data.cfg.logos | where: "map", false %}
            {% for category in categories_without_map %}
            {% capture logo_alt %}
            {{ category.name_gr }}
            {% if category.logo_credit and category.logo_credit != empty %}
            logo by {{ category.logo_credit }}
            {% endif %}
            {% endcapture %}
            {% assign logo_alt = logo_alt | strip %}
            {% if site.lang == "it" %}
            {% assign linkProperty = 'link' %}
            {%else%}
            {% assign linkProperty = 'link_' | append : site.lang %}
            {% endif %}
            {% assign link = category[linkProperty] %}
            {% if link and link != empty %}
                <div class="card border-0" style="width: 10rem;">
                    {% if category.logo and category.logo != empty %}
                    <a href="{{ site.baseurl }}/{{ link }}" title="{{ logo_alt }}">
                    <img class="card-img-top w-50 mx-auto" src="{{ site.baseurl }}{{ category.logo }}" alt="{{ category.logo-alt }}">
                    </a>
                    {% endif %}
                    <div class="card-body w-100">
                    <a href="{{ site.baseurl }}/{{ link }}" title="{{ logo_alt }}">
                        <h6 class="card-title">{{ category.name_gr }}</h6>
                    </a>
                    {% if category.footer_include %}
                    {% include {{category.footer_include}} %}
                    {% endif %}
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<hr class="col-lg-12">

<div class="row">
    <div class="col-12 w-100 my-1">
		<form class="global-search" role="form" action="/searchissues" method="get">
			<div class="input-group">
				<input type="text" class="form-control" id="search-box" name="query" placeholder="Τι ψάχνεις;">
				<div class="input-group-btn">
					<button class="btn btn-primary" type="submit"><span><i class="glyphicon glyphicon-search"></i> Αναζήτηση μεταξύ {{site.data.machgen.issuesjson.size}} αναρτήσεις</span></button>
				</div>
			</div>
		</form>
    </div>
</div>

<div class="row">
    <div class="col-12 my-auto">
        <div id="map" class="w-100 my-auto" style="height: 500px;"></div> 
    </div>
</div>

<hr class="col-lg-12">


<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../js/moment.min.js"></script>
<script type="text/javascript" src="../js/masonry.min.js"></script>
<!-- form di ricerca delle news -->
<script src="../js/jquery.sieve.min.js" type="text/javascript"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.5/elasticlunr.min.js"></script>
<script type="text/javascript" src="../js/lunr.stemmer.support.min.js"></script>
<script type="text/javascript" src="../js/lunr.it.min.js"></script>
<script type="text/javascript" src="../js/search.min.js"></script>

<script>
  var searchTemplate="<div class='form-group'><div class='input-group'><div class='input-group-addon'>Cerca:</div><input type='text' class='form-control' placeholder='(cerca qui...)'></div></div>"
  $("div.sieve").sieve({ itemSelector: ".panel-info" });
</script>


{%- assign issuecategories = site.data.cfg.issuecategories -%}
{%- assign filteredissues = site.data.machgen.issuesjson | where: "state","open" -%}

{%- include issuemap.html -%}
