<div class="col-12 mb-15">
    <div class="card bg-light">
        <div class="card-header"><h3>In collaborazione con ARCI e UNHCR</h3></div>
        <div class="card-body">
            <h4 class="card-title">Numero verde per richiedenti asilo e rifugiati <a class="font-weight-bold" style="color: green;" href="tel:800905570">800905570</a></h4>
            <p class="card-text">
            <h4>Lycamobile <a href="tel:35511376335">35511376335</a></h4>
            <h4><a href="https://coronavirus.jumamap.com/it_it/home">Tutte le informazioni sul sito Juma - Covid19</a></h4>
            </p>
        </div>
    </div>
</div>
