<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    {%- if page.lang == blank -%}
    {%- assign page.lang = site.lang  -%}
    {%- endif -%}


    <title>{%- if page.displayname != blank -%}{{ page.displayname }} | {{ site.title }}{%- elsif page.url == '/' -%}{{ page.title }}{%- else -%}{{ page.title }} | {{ site.title }}{%- endif -%}</title>

    <meta name="author" content="{{ site.author.name }}"/>

    {%- if page.subtitle -%}
    <meta name="description" content="{{ page.subtitle }}">
    {%- elsif page.description -%}
    <meta name="description" content="{{ page.description }}">
    {%- elsif page.nome_provincia -%}
    <meta name="description" content="Segnalazioni della Regione {{page.nome_provincia}}">
    {%- elsif page.nome_regione -%}
    <meta name="description" content="Segnalazioni della Regione {{page.nome_regione}}">
    {%- elsif page.issue.data["Descrizione"] -%}
    <meta name="description" content="{{page.issue.data['Descrizione']}}">
    {%- endif -%}

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }}"
          href="{{ site.baseurl }}/feed.xml"/>

    {%- if page.id -%}
    <link rel="canonical" href="{{ site.url }}{{ page.url }}"/>
    {%- else -%}
    <link rel="canonical" href="{{ site.url }}{{ page.url | remove: '/index.html' | remove: '.html' }}"/>
    {%- endif -%}

    {%- if layout.common-ext-css -%}
    {%- for css in layout.common-ext-css -%}
    <link rel="stylesheet" href="{{ css }}"/>
    {%- endfor -%}
    {%- endif -%}

    {%- if layout.common-css -%}
    {%- for css in layout.common-css -%}
    <link rel="stylesheet" href="{{ css | prepend: site.baseurl | replace: '//', '/' }}"/>
    {%- endfor -%}
    {%- endif -%}

    {%- if layout.common-googlefonts -%}
    {%- for font in layout.common-googlefonts -%}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ font }}"/>
    {%- endfor -%}
    {%- endif -%}

    {%- if page.ext-css -%}
    {%- for css in page.ext-css -%}
    <link rel="stylesheet" href="{{ css }}"/>
    {%- endfor -%}
    {%- endif -%}

    {%- if page.css -%}
    {%- for css in page.css -%}
    <link rel="stylesheet" href="{{ css | prepend: site.baseurl | replace: '//', '/' }}"/>
    {%- endfor -%}
    {%- endif -%}

    {%- if page.googlefonts -%}
    {%- for font in page.googlefonts -%}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ font }}"/>
    {%- endfor -%}
    {%- endif -%}

    <!-- Facebook OpenGraph tags -->
    <meta property="og:title"
          content="{%- if page.url == '/' -%}{{ page.title }}{%- else -%}{{ page.title }} | {{ site.title }}{%- endif -%}"/>
    <meta property="og:type" content="website"/>
    {%- if page.id -%}
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    {%- else -%}
    <meta property="og:url" content="{{ site.url }}{{ page.url | remove: '/index.html' | remove: '.html' }}"/>
    {%- endif -%}
    {%- if page.no-share-img -%}
        {%- capture image_url -%}/images/issues/{{page.number}}.png{%- endcapture -%}
        {%- assign static_image_file = site.static_files | where_exp: "member", "member.path == image_url" -%}
        {%- if static_image_file.size > 0 -%}
        <meta property="og:image" content="{{ site.url }}{{ image_url }}"/>
        <meta property="og:image:width" content="1200"/>
        <meta property="og:image:height" content="630"/>
        {%- else -%}
        <meta property="og:image" content="{{ site.url }}/images/covid19italia-full.png"/>
        {%- endif -%}
    {%- else -%}
        {%- if page.share-img -%}
        <meta property="og:image" content="{{ page.share-img }}"/>
        {%- elsif site.avatar -%}
        <meta property="og:image" content="{{ site.url }}/images/covid19italia-full.png"/>
        <meta property="og:image:width" content="310"/>
        <meta property="og:image:height" content="310"/>
        {%- else -%}
        <meta property="og:image" content=""/>
        {%- endif -%}
    {%- endif -%}

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ItaliaCovid19">
    <meta name="twitter:creator" content="@ItaliaCovid19">
    {%- if page.url == '/' -%}
    <meta name="twitter:title" content="{{ page.title }}">
    {%- else -%}
    <meta name="twitter:title" content="{{ page.title }} | {{ site.title }}">
    {%- endif -%}
    {%- if page.url -%}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {%- endif -%}
    {%- if page.description -%}
    <meta name="twitter:description" content="{{ page.description }}">
    {%- else -%}
    <meta name="twitter:description" content="{{ site.description }}">
    {%- endif -%}
    <meta name="twitter:image" content="https://www.covid19italia.help/images/covid19italia.png">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <meta name="msapplication-TileColor" content="#314f96">
    <meta name="theme-color" content="#314f96">



<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.matteofortini.it/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '6']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

    

    <script type="text/javascript" src='/js/nprogress.min.js'></script>
    <link rel='stylesheet' href='/css/nprogress.css'/>

    <link rel="manifest" href="/manifest.json">
    <!-- Safari on iOS doesn't support the web app manifest (yet), so we'll need to add the traditional meta tags -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Covid19Italia Help">
    <link rel="apple-touch-icon" href="/android-chrome-192x192.png">

    <link rel='stylesheet' href='/css/pwa.css'/>

    <!-- PWA -->
    <script src="/js/pwa-install-button.js" inline></script>
    <script src="/js/pwa-install-helper.js" inline></script>
    <script src="/js/loader-ios-install.js" inline></script>
    <script type="text/javascript" src="/js/pwa.js"></script>


</head>
