                        {%- for member in filteredissues -%}
                        <div  class="col-md-12 col-sm-12 col-12 mb-15">
                            <div class="card" id="issue{{member.number}}">
                                <div class="card-body issuepanel">
                                    <a href="/issues/{{member.number}}">{% if member.issue.labels contains "Validato INP" %}
                                        <div class="row">
                                            <div class="col-10"><h4 class="card-title">{{member.title}}</h4></div>
                                            <div class="col-2"><img width="128" src="/images/validato_inp_logo.png" class="img-fluid" alt="logo Validato da Italia No Profit" /></div>
                                        </div>
                                        {% else %}<h4 class="card-title">{{member.title}}</h4>
                                        {% endif %}</a>
                                    <dl class="row">
                                        {%- for item in member.issue.data -%}
                                        {%- if item[1] != blank -%}
                                        <dt class="col-sm-3">{{item[0] | replace: "_", " " | capitalize_all}}</dt>
                                        {%- if item[0] == "Descrizione" -%}
                                        {%- assign itemrepr = item[1] | newline_to_br | auto_link -%}
                                        <dd class="col-sm-9">
                                        {{itemrepr}}
                                        </dd>
                                        {%- else -%}
                                        <dd class="col-sm-9">{{item[1] | newline_to_br | auto_link | truncatewords: 100}}</dd>
                                        {%- endif -%}
                                        {%- endif -%}
                                        {%- endfor -%}
                                    </dl>
                                    {%- include social-share-issue.html -%}
                                </div>
                            </div>
                        </div>
                        {%- endfor -%}
