<script>
var markerList=[];

{%- for member in filteredissues | where_exp: 'm', 'm.issue.lat != blank and m.issue.lon != blank' -%} 
        markerList.push([{{member.issue.lat}}, {{member.issue.lon}}, "{{member.title|uri_escape}}", "{{ member.number }}", {{member.issue.labels}}]);
{%- endfor -%} 

// define icons
var markerIcons = {};
{% for categorytuple in issuecategories %}
{% assign category = categorytuple[1] %}
var newMarker = L.AwesomeMarkers.icon({icon: "{{category['markericon']}}", markerColor: "{{category['markercolor']}}", prefix: 'fa'}); 
{% for clabel in category['labelnames'] %}
markerIcons["{{clabel}}"]=newMarker;
{% endfor %}
{% endfor %}
var iconaDefault = L.AwesomeMarkers.icon({icon: '', markerColor: 'darkpurple'});

// initialize the map
var map = L.map('map', {
  scrollWheelZoom: false
})

// create the tile layer with correct attribution
var osmUrl='{{site.tile_map}}';
var osmAttrib='&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, Tiles courtesy of <a href="http://hot.openstreetmap.org/" target="_blank">Humanitarian OpenStreetMap Team</a>';
var osm = new L.TileLayer(osmUrl, {minZoom: {{site.issuemap.zoom}}>1?{{site.issuemap.zoom}}-1:{{site.issuemap.zoom}}, maxZoom: 19, attribution: osmAttrib});


var sumLat = 0.;
var sumLon = 0.;

markers = L.markerClusterGroup();

for (var i=0; i<markerList.length; i++) {
    var lat = markerList[i][0];
    var lon = markerList[i][1];
    var popupText = markerList[i][2];
    var popupURL = markerList[i][3];
    var labels = markerList[i][4];
    var iconaFinale = iconaDefault;

    // Raccolte fondi, Supporto psicologico, Servizi e iniziative solidali pubbliche, Servizi e iniziative solidali private, Richiesta aiuto

    for (var il = 0; il < labels.length; il++) {
        if (labels[il] in markerIcons) {
            iconaFinale = markerIcons[labels[il]]
            break;
        }
    }

    if (!isNaN(lat) && !isNaN(lon)) {
        var markerLocation = new L.LatLng(lat, lon);
        var marker = new L.Marker(markerLocation, {icon: iconaFinale});

        markers.addLayer(marker);

        marker.bindPopup("<a href=\"/issues/" + popupURL + "\">" + decodeURI(popupText) + "</a>");

        sumLat += lat;
        sumLon += lon;
    }
}

map.addLayer(markers);

{% if page.mapcenter != blank and page.mapzoom != blank %}
map.addLayer(osm).setView([{{page.mapcenter[0]}},{{page.mapcenter[1]}}], {{page.mapzoom}});
{% else %}
map.addLayer(osm).setView([{{site.issuemap.center}}], {{site.issuemap.zoom}});
{% endif %}

//var group = new L.featureGroup([marker1, marker2, marker3]);

{% if page.fitBounds %}
map.fitBounds(markers.getBounds().pad(0.3));
{% endif %}

function getFeaturesInView() {
    //console.log("getFeaturesInView");
    var featuresInView = [];
    var featuresNotInView = [];
    for (var i=0; i<markerList.length; i++) {
        if(map.getBounds().contains(L.latLng(markerList[i][0],markerList[i][1]))) {
            featuresInView.push(markerList[i]);
        } else {
            featuresNotInView.push(markerList[i]);
        }
    }
    return [featuresInView,featuresNotInView];
}

function setVisible(element) {
    $("#issue"+element[3]).show();
    //console.log("Show #issue"+element[3]);
}
function setInVisible(element) {
    $("#issue"+element[3]).hide();
    //console.log("Hide #issue"+element[3]);
}

function onMoveEnd(evt) {
    [inView,notInView]=getFeaturesInView();
    console.log(notInView);
    console.log(inView);
    notInView.forEach(setInVisible);
    inView.forEach(setVisible);
}

map.on('moveend', onMoveEnd);

/**
 * Get the URL parameters
 * source: https://css-tricks.com/snippets/javascript/get-url-variables/
 * @param  {String} url The URL
 * @return {Object}     The URL parameters
 */
var getParams = function (url) {
	var params = {};
	var parser = document.createElement('a');
	parser.href = url;
	var query = parser.search.substring(1);
	var vars = query.split('&');
	for (var i = 0; i < vars.length; i++) {
		var pair = vars[i].split('=');
		params[pair[0]] = decodeURIComponent(pair[1]);
	}
	return params;
};

function processParams (){
        params = getParams(window.location.href);
        //console.log(params);
}

window.onload = processParams;

</script>
