<nav class="navbar navbar-default navbar-dark fixed-top navbar-expand-lg" style="background-color: #294481;">
    {%- if site.avatar and (layout.show-avatar or page.show-avatar) -%}
    <a class="navbar-brand" href="/">
        <img itemprop="logo" width="50" height="50" class="d-inline-block align-center rounded-circle" style="background-color: white;"
                                                                                                       src="{{ site.avatar }}"
                                                                                                       alt="{{ site.logo-description }}"/>
        {{site.title}}
    </a>
    {%- endif -%}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
            {%- for item in site.data.i18n.navigation.languages -%}
            {%- if item.language == page.lang -%}
            {%- for link in item.navbar-links -%}
            {%- if link[1].first -%}
            <li itemprop="name" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink{{ link[0] }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ link[0] }}</a>
                <div class="dropdown-menu" style="background-color: #294481;" aria-labelledby="navbarDropdownMenuLink{{ link[0]}}">
                    {%- for childlink in link[1] -%}
                    {%- for linkparts in childlink -%}
                    {%- include navbarlink.html link=linkparts dropdown=true -%}
                    {%- endfor -%}
                    {%- endfor -%}
                </div>
            </li>
            {%- else -%}
            <li>
                {%- include navbarlink.html link=link dropdown=false -%}
            </li>
            {%- endif -%}
            {%- endfor -%}
            {%- endif -%}
            {%- endfor -%}
            {%- if page.lang == "it" -%}
            <li>
                <a class="nav-link" href="/en" itemprop="url">English <span class="flag-icon flag-icon-gb"
                                                                            style="margin:2px;"></span></a>
            </li>
            {%- else -%}
            <li>
                <a class="nav-link" href="/" itemprop="url">Italiano <span class="flag-icon flag-icon-it" style="margin:2px;"></span></a>
            </li>
            {%- endif -%}
        </ul>
    </div>
</nav>
