<div class="col-12 mb-15">
    <div class="card bg-light">
        <div class="card-body">
            <p class="card-text">
            Tutte le raccolte fondi pubblicate sono state verificate dal team di Covid19Italia.Help.
            Alcune raccolte fondi a beneficio di Aziende Ospedaliere, segnalate con l’etichetta “Validata da INP”, 
            sono state validate da <a href="https://italianonprofit.it/" target="_blank">Italia non profit</a> che ringraziamo per la collaborazione e che potete trovare anche a 
            <a href="https://italianonprofit.it/donazioni-coronavirus/" target="_blank">questo link</a>.
            </p>
        </div>
    </div>
</div>
