<!-- Check if any share-links are active -->
{% assign any-share-links = false %}
{% for links in site.share-links-active %}
  {% if links[1] == true %}
    {% assign any-share-links = true %}
  {% endif %}
{% endfor %}

{% if any-share-links %}
{% capture share-url %}{{ site.url }}/issues/{{ member.number }}&title={{member.title|truncate:70|cgi_escape}}%20%7C%20{{ site.title | cgi_escape}}{% endcapture %}
{{site.data.i18n.translations.share}}:
    <!--- Share link -->
    {% if site.share-links-active.link %}
        <a class="card-link fa-stack" href="{{ site.url }}/issues/{{ member.number }}"
          title="Copia link">
          <i class="fas fa-circle fa-stack-2x" aria-hidden="true"></i>
          <span class="fas fa-link fa-stack-1x fa-inverse" aria-hidden="true"></span>
        </a>
    {% endif %}

    <!--- Share on Facebook -->
    {% if site.share-links-active.facebook %}
        <a class="card-link fa-stack" href="https://www.facebook.com/sharer/sharer.php?u={{ share-url }}"
          title="{{site.data.i18n.translations.share}} Facebook" target="_blank">
          <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
          <i class="fa fa-facebook fa-stack-1x fa-inverse" aria-hidden="true"></i>
        </a>
    {% endif %}

    <!--- Share on Twitter -->
    {% if site.share-links-active.twitter %}
        <a class="card-link fa-stack" href="https://twitter.com/intent/tweet?text={{ share-url }}&via=covid19italia&hashtags=covid19italia"
          title="{{site.data.i18n.translations.share}} Twitter" target="_blank">
          <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse" aria-hidden="true"></i>
        </a>
    {% endif %}

    <!--- Share on Google Plus -->
    {% if site.share-links-active.google %}
        <a class="card-link fa-stack" href="https://plus.google.com/share?url={{ share-url }}"
          title="{{site.data.i18n.translations.share}} Google+" target="_blank">
          <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
          <i class="fa fa-google-plus fa-stack-1x fa-inverse" aria-hidden="true"></i>
        </a>
    {% endif %}

    <!--- Share on LinkedIn -->
    {% if site.share-links-active.linkedin %}
        <a class="card-link fa-stack" href="https://www.linkedin.com/shareArticle?mini=true&url={{ share-url }}"
          title="{{site.data.i18n.translations.share}} LinkedIn" target="_blank">
          <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
          <i class="fa fa-linkedin fa-stack-1x fa-inverse" aria-hidden="true"></i>
        </a>
    {% endif %}

    <!--- Share via Email -->
    {% if site.share-links-active.email %}
        <a class="card-link fa-stack" href="mailto:?to=&subject={{member.title|truncate:70|cgi_escape}}%20%7C%20{{site.title|cgi_escape}}&body={{member.title|cgi_escape}}%0D%0AClicca%20qui%3A%20{{ site.url }}/issues/{{ member.number }}"
          title="Email">
          <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
          <i class="fa fa-envelope fa-stack-1x fa-inverse" aria-hidden="true"></i>
        </a>
    {% endif %}


{% endif %}
