---
layout: base
---
{% include header.html type="issue" %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.0/dist/leaflet.js"></script>
<style>
#map {
    height: 150px
}
</style>
<div class="container" role="main">

    <dl class="row">
        {% for item in page.issue.data %}
        {% if item[1] != blank %}
        <dt class="col-sm-3">{{item[0] | replace: "_", " "}}</dt>
        <dd class="col-sm-9">
        {% if item[0] == "Telefono" %}
        <a href="tel:{{item[1] | remove: " "}}" target="_blank">{{item[1]}}</a>
        {% else %}
        {{item[1] | strip | auto_link | newline_to_br}}
        {% endif %}
        </dd>
        {% endif %}
        {% endfor %}
    </dl>
    {% if page.issue.lat != blank %}
    <div class="row">
        <div class="col-md-2">latitudine:</div>
        <div class="col-md-10"> {{page.issue.lat}} </div>
    </div>
    <div class="row">
        <div class="col-md-2">longitudine:</div>
        <div class="col-md-10"> {{page.issue.lon}} </div>
    </div>
    <div class="row">
        <div class="col-md-2">Mappa:</div>
        <div class="col-md-4">
            <div id="map"></div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-2">Link:</div>
        <div class="col-md-10"> <a href="{{page.issue.url}}">{{page.issue.url}}</a></div>
    </div>
    <div class="row">
        <div class="col-md-2">Creato:</div>
        <div class="col-md-10"> {{page.issue.created_at | italianDate}} </div>
    </div>
    <div class="row">
        <div class="col-md-2">Aggiornato:</div>
        <div class="col-md-10"> {{page.issue.updated_at | italianDate}} </div>
    </div>
    <br>
    {% include social-share.html %}
    <div class="disqus-comments">
        {% include disqus.html %}
    </div>
</div>
<script>
// initialize the map
var map = L.map('map').setView([{ { page.issue.lat } }, { { page.issue.lon } }], 16);

// create the tile layer with correct attribution
var osmUrl = '{{site.tile_map}}';
var osmAttrib = '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, Tiles courtesy of <a href="http://hot.openstreetmap.org/" target="_blank">Humanitarian OpenStreetMap Team</a>';
var osm = new L.TileLayer(osmUrl, { minZoom: 8, maxZoom: 19, attribution: osmAttrib });

map.addLayer(osm);

var marker = L.marker([{ { page.issue.lat } }, { { page.issue.lon } }]).addTo(map);
</script>
