---
layout: bare
---
<div class="container-fluid">
{%- assign openissues = site.data.machgen.issuesjson | where: "state","open" -%}

{%- if page.nome_provincia != blank -%}
    {%- assign geofilteredissues = openissues | where_exp: "member", "member.issue.provincia == page.nome_provincia" -%}
{%- else -%}
    {%- if page.nome_regione != blank -%}
        {%- assign geofilteredissues = openissues |  where_exp: "member", "member.issue.regione == page.nome_regione or member.issue.regione == 'tutte'" -%}
    {%- else -%}
        {%- assign geofilteredissues = openissues  -%}
    {%- endif -%}
{%- endif -%}

{%- if page.issuecategory != blank -%}

    {% assign issuecategories = "" | split: "," %}
    {% assign tmpcategory = "" | split: "," %}
    {%- assign tmpcategory = tmpcategory | push: page.issuecategory -%}
    {%- assign tmpcategory = tmpcategory | push: site.data.cfg.issuecategories[page.issuecategory] -%}
    {%- assign issuecategories = issuecategories |  push: tmpcategory -%}

{%- elsif page.displayname != blank and page.markericon != blank -%}

    {% assign issuecategories = "" | split: "," %}
    {% assign tmpcategory = "" | split: "," %}
    {%- assign tmpcategory = tmpcategory | push: "page" -%}
    {%- assign tmpcategory = tmpcategory | push: page -%}
    {%- assign issuecategories = issuecategories |  push: tmpcategory -%}

{%- else -%}

    {%- assign issuecategories = site.data.cfg.issuecategories -%}

{%- endif -%}


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>

   <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"
   crossorigin=""/>

<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"
   crossorigin=""/>

 <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"
   crossorigin=""></script>

<style>
#map{ height: 600px; }
</style>

<div class="row">

<div class="col-md-12 col-sm-12 col-12"> <div id="map" class="w-100" style="height: 600px;"></div> </div>

<div class="col-12">

{%- assign allcatfilteredissues = '' | split: '' -%}
{%- for categorytuple in issuecategories -%}
{%- assign category = categorytuple[1] -%}

{%- assign filteredissues = '' | split: '' -%}
{% for issuelabel in category["labelnames"] %}
    {%- assign tmpfilteredissues = geofilteredissues | where_exp: "member","member.issue.labels contains issuelabel" -%}
    {%- assign filteredissues = filteredissues | concat: tmpfilteredissues | uniq -%}
{% endfor %}
{%- assign filteredissues = filteredissues | sort: 'number' | reverse -%}

{%- if filteredissues.size > 0 -%}
<div class="row">
    {%- assign allcatfilteredissues = allcatfilteredissues | concat: filteredissues | uniq -%}
    <div class="row">
        <div class="col-12">
            <h2 id="{{category['displayname']|slugify}}">{{category["displayname"]}} <span class="badge badge-pill badge-primary">{{filteredissues.size}}</span></h2>
            {%- if page.justLatestIssues -%}
            {%- assign filteredissues = filteredissues | sort: 'number' | reverse | slice: 0,5 -%}
            {%- endif -%}
            {%- for member in filteredissues -%}
            <div class="col-md-12 col-sm-12 col-12 mb-15">
                <div class="card" id="issue{{member.number}}">
                    <div class="card-body issuepanel">
                        <a href="{{site.url}}/issues/{{member.number}}"><h4 class="card-title">{{member.title}}</h4></a>
                        <dl class="row">
                            {%- for item in member.issue.data -%}
                            {%- if item[1] != blank -%}
                            <dt class="col-sm-3">{{item[0] | replace: "_", " " | capitalize_all}}</dt>
                            {%- if item[0] == "Descrizione" -%}
                            {%- assign itemrepr = item[1] | newline_to_br | auto_link -%}
                            <dd class="col-sm-9">
                            {{itemrepr}}
                            </dd>
                            {%- else -%}
                            <dd class="col-sm-9">{{item[1] | newline_to_br | auto_link | truncatewords: 100}}</dd>
                            {%- endif -%}
                            {%- endif -%}
                            {%- endfor -%}
                        </dl>
                        {%- include social-share-issue.html -%}
                    </div>
                </div>
            </div>
            {%- endfor -%}
        </div>
    </div>
    {%- if page.justLatestIssues -%}
    <div class="row">
        <div class="col"><a href="{{category['permalink']}}" class="btn btn-primary btn-lg">Vedi tutte {{category["displayname"]}}</a></div>
        <hr class="col-12">
    </div>
</div>

{%- endif -%}
{%- endif -%}
{%- endfor -%}

{%- if page.categorieMapAll -%}
{%- assign filteredissues = geofilteredissues -%}
{%- else -%}
{%- assign filteredissues = allcatfilteredissues -%}
{%- endif -%}
</div>
	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	    {% endif %}
    </div>
</div>
</div>

{%- include issuemap.html -%}
