---
layout: base
---

{%- assign openissues = site.data.machgen.issuesjson | where: "state","open" -%}

{%- if page.nome_provincia != blank -%}
    {%- assign geofilteredissues = openissues | where_exp: "member", "member.issue.provincia == page.nome_provincia" -%}
{%- else -%}
    {%- if page.nome_regione != blank -%}
        {%- assign geofilteredissues = openissues |  where_exp: "member", "member.issue.regione == page.nome_regione or member.issue.regione == 'tutte'" -%}
    {%- else -%}
        {%- assign geofilteredissues = openissues  -%}
    {%- endif -%}
{%- endif -%}

{%- if page.issuecategory != blank -%}

    {% assign issuecategories = "" | split: "," %}
    {% assign tmpcategory = "" | split: "," %}
    {%- assign tmpcategory = tmpcategory | push: page.issuecategory -%}
    {%- assign tmpcategory = tmpcategory | push: site.data.cfg.issuecategories[page.issuecategory] -%}
    {%- assign issuecategories = issuecategories |  push: tmpcategory -%}

{%- elsif page.issuecategories != blank -%}

    {% assign issuecategories = "" | split: "," %}
    {% for category in page.issuecategories %}
    {% assign tmpcategory = "" | split: "," %}
    {%- assign tmpcategory = tmpcategory | push: category -%}
    {%- assign tmpcategory = tmpcategory | push: site.data.cfg.issuecategories[category] -%}
    {%- assign issuecategories = issuecategories |  push: tmpcategory -%}
    {% endfor %}

{%- elsif page.displayname != blank and page.markericon != blank -%}

    {% assign issuecategories = "" | split: "," %}
    {% assign tmpcategory = "" | split: "," %}
    {%- assign tmpcategory = tmpcategory | push: "page" -%}
    {%- assign tmpcategory = tmpcategory | push: page -%}
    {%- assign issuecategories = issuecategories |  push: tmpcategory -%}

{%- else -%}

    {%- assign issuecategories = site.data.cfg.issuecategories -%}

{%- endif -%}

        {%- if page.displayname -%}
{% include header.html type="page" pagetitle=page.displayname %}
        {%- else -%}
{% include header.html type="page" %}
        {%- endif -%}
<div class="container-fluid" role="main">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">

{{content}}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>

   <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"
   crossorigin=""/>

<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"
   crossorigin=""/>

 <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"
   crossorigin=""></script>

<style>
#map{ height: 600px; }
</style>

<div class="row">

<div class="col-md-12 col-sm-12 col-12"> <div id="map" class="w-100" style="height: 600px;"></div> </div>


{%- assign allcatfilteredissues = '' | split: '' -%}
{%- for categorytuple in issuecategories -%}
{%- assign category = categorytuple[1] -%}

{%- assign filteredissues = '' | split: '' -%}
{% for issuelabel in category["labelnames"] %}
    {%- assign tmpfilteredissues = geofilteredissues | where_exp: "member","member.issue.labels contains issuelabel" -%}
    {%- assign filteredissues = filteredissues | concat: tmpfilteredissues | uniq -%}
{% endfor %}
{%- assign filteredissues = filteredissues | sort: 'number' | reverse -%}

{%- if filteredissues.size > 0 -%}
<div class="row">
    <div class="col-12 col-lg-12 col-md-12">
        {%- assign allcatfilteredissues = allcatfilteredissues | concat: filteredissues | uniq -%}
        <div class="row">
            <div class="col-12 col-lg-12 col-md-12">
                <h2 id="{{category['permalink']}}">{{category["displayname"]}}
                    {% if page.justLatestIssues %}<a href="{{category['permalink']}}" title="Vedi tutte le segnalazioni della categoria {{category['displayname']}}">{% endif %}
                        <span class="badge badge-pill badge-primary">
                            {{filteredissues.size}}
                        </span>
                        {% if page.justLatestIssues %}</a>{% endif %}
                </h2>
                <div class="row d-flex shuffleissues">
                    <div class="col-12">
                        {% if category["includeheader"] != blank %}
                        {% assign includeheader = category["includeheader"] %}
                        {% include {{includeheader}} %}
                        {% endif %}

                        {%- if page.justLatestIssues -%}
                        {%- assign filteredissues = filteredissues | sort: 'number' | reverse | slice: 0,5 -%}
                        {%- endif -%}

                        {% if page.justLatestIssues != true and category["subcategories"] %}
                        {% assign filteredissues_category = filteredissues %}
                        {% for subcategorytuple in category["subcategories"] %}
                        {% assign subcategory = subcategorytuple[0] %}
                        {% assign subcategoryname = subcategorytuple[1]["displayname"] %}
                        {%- assign filteredissues = filteredissues_category | where_exp: "member","member.issue.labels contains subcategory" -%}
                        {% if filteredissues.size > 0 %}
                        <h3 id="{{subcategory | slugify}}">{{subcategoryname}} <span class="badge badge-pill badge-primary">{{filteredissues.size}}</span></h3>

                        {% include issuelist_cards.html %}

                        {%- endif -%}
                        {%- endfor -%}
                        {% else %}
                        {% include issuelist_cards.html %}
                        {%- endif -%}

                    </div>
                </div>
            </div>
        </div>
        {% if category["includefooter"] != blank %}
        {% assign includefooter = category["includefooter"] %}
        {% include {{includefooter}} %}
        {% endif %}
        {%- if page.justLatestIssues -%}
        <div class="row">
            <div class="col-12 col-lg-12 col-md-12"><a href="{{category['permalink']}}" title="Vedi tutte le segnalazioni della categoria {{category['displayname']}}" class="btn btn-primary btn-lg">{{site.data.i18n.translations["see_all"]}} {{category["displayname"]}}</a></div>
            <hr class="col-12 col-lg-12 col-md-12">
        </div>
        {%- endif -%}
    </div>
</div>
{%- endif -%}
{%- endfor -%}


{%- if page.categorieMapAll -%}
{%- assign filteredissues = geofilteredissues -%}
{%- else -%}
{%- assign filteredissues = allcatfilteredissues -%}
{%- endif -%}
</div>
	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	    {% endif %}
    </div>
  </div>
</div>

{%- include issuemap.html -%}


