---
fitBounds: True
layout: issuelist
categorieMapAll: True
lang: it
---

{%- assign openissues = site.data.issuesjson | where: "state","open" -%}

{%- if page.nome_provincia != blank -%}
    {%- assign geofilteredissues = openissues | where_exp: "member", "member.issue.provincia == page.nome_provincia" -%}
{%- else -%}
    {%- if page.nome_regione != blank -%}
        {%- assign geofilteredissues = openissues |  where_exp: "member", "member.issue.regione == page.nome_regione" -%}
    {%- else -%}
        {%- assign geofilteredissues = openissues  -%}
    {%- endif -%}
{%- endif -%}
{%- if page.issuecategories -%}
{%- assign issuecategories = page.issuecategories[page.lang] -%}
{%- else -%}
{%- assign issuecategories = site.data.cfg.issuecategories[page.lang] -%}
{%- endif -%}

<a href="/issues/regione/{{page.nome_regione | replace: "'", "" | slugify}}/province.html"class="btn btn-primary btn-lg btn-block col-12 mb-15" role="button">Segnalazioni per provincia</a>


<div class="row mx-auto">
{%- for category in issuecategories -%}
  <div class="col-12 col-sm-6 mb-15">
	  <a href="#{{category[0] | slugify}}" class="btn btn-success btn-block" role="button" id="button_{{category[0] | slugify}}">{{category[0]}}</a>
	</div>
{%- endfor -%}
</div>


