---
fitBounds: True
layout: issuelist
---

{% if page.issuecategories %}
{% assign issuecategories = page.issuecategories[page.lang] %}
{% else %}
{% assign issuecategories = site.data.cfg.issuecategories[page.lang] %}
{% endif %}

<div class="row mx-auto">
{% for category in issuecategories %}
  <div class="col-12 col-sm-6 mb-15">
	  <a href="#{{category[0] | slugify}}" class="btn btn-success btn-block" role="button" id="button_{{category[0] | slugify}}">{{category[0]}}</a>
	</div>
{% endfor %}
</div>
