---
fitBounds: True
layout: issuelist
categorieMapAll: True
---

{% assign openissues = site.data.issuesjson | where: "state","open" %}

{% if page.nome_provincia != blank %}
    {% assign geofilteredissues = openissues | where_exp: "member", "member.issue.provincia == page.nome_provincia" %}
{% else %}
    {% if page.nome_regione != blank %}
        {% assign geofilteredissues = openissues |  where_exp: "member", "member.issue.regione == page.nome_regione" %}
    {% else %}
        {% assign geofilteredissues = openissues  %}
    {% endif %}
{% endif %}
{% if page.categorieissue %}
{% assign categorieissue = page.categorieissue %}
{% else %}
{% assign categorieissue = site.categorieissue %}
{% endif %}

<a href="/issues/regione/{{page.nome_regione | replace: "'", "" | slugify}}/province.html"class="btn btn-primary btn-lg btn-block col-xs-12 mb-15" role="button">Segnalazioni per provincia</a>


<div class="row mx-auto">
{% for categoriatuple in categorieissue %}
{% assign categoria = categoriatuple | split: ";" %}
  <div class="col-xs-12 col-sm-6 mb-15">
	  <a href="#{{categoria[0] | slugify}}" class="btn btn-success btn-block" role="button" id="button_{{categoria[0] | slugify}}">{{categoria[0]}}</a>
	</div>
{% endfor %}
</div>


